[Unit]
Description=Kiosk Launcher
After=docker.service

[Service]
User=kiosk
ExecStart=/usr/bin/startx /opt/kiosk.sh -- :1 vt1
Restart=always

[Install]
WantedBy=multi-user.target
